@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap');
@import "tailwindcss";

@theme{
  --font-miriam: "Miriam Libre", sans-serif;

  --color-light-green: #bde274;
  --color-green: #58c358;

  --text-shadow-title: 5px 5px 6px rgba(0, 0, 0, 1);
  --text-shadow-up: 1px -2px 2px rgba(0, 0, 0, 1);
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

.text-alien {
  color: #bde274;
  text-shadow:
    -1px -1px 0 #49f8df,
     1px -1px 0 #49f8df,
    -1px  1px 0 #49f8df,
     1px  1px 0 #49f8df;
}


input[type="range"] {
  @apply w-40 bg-slate-50 rounded-lg appearance-none cursor-pointer shadow-sm;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 bg-green rounded-full;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  @apply w-4 h-2 bg-green rounded-full border-none;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-slate-50 h-2 rounded;
}

input[type="range"]::-moz-range-track {
  @apply bg-slate-50 h-2 rounded;
}
